@import "tailwindcss";
@import "./style/colors.css";
@import "./style/transitions.css";
@import "./style/buttons.css";
@import "./style/field.css";
@import "./style/sider.css";
@import "tw-animate-css";
@import "./style/footer.css"