.border-brand {
@apply border-[#1230AE] border-1 
}
.border-primary {
@apply border-[#FEC5F6] border-1 
}
.border-section {
@apply border-[#FFF7F7] border-1    
}
.border-foot {
@apply border-[#212529] border-1    
}
.border-success {
@apply border-[#28A745] !border-1    
}
