.bg-brand {
  @apply !bg-[#1230AE];
}

.bg-primary {
  @apply !bg-[#6C48C5];
}

.bg-section {
  @apply !bg-[#FFF7F7];
}

.bg-foot {
  @apply !bg-[#212529];
}

.bg-success {
  @apply !bg-[#28A745];
}

.bg-danger {
  @apply !bg-[#DC3545];
}

.bg-secondary {
  @apply !bg-[#FEC5F6];
}

.bg-light {
  @apply !bg-[#F5F1DC];
}

.text-brand {
  @apply !text-[#1230AE];
}

.text-primary {
  @apply !text-[#6C48C5];
}

.text-secondary {
  @apply !text-[#FEC5F6];
}
.hover-text-primary {
  @apply hover:text-[#6C48C5];
}

.text-section {
  @apply !text-[#FFF7F7];
}

.text-foot {
  @apply !text-[#212529];
}

.text-success {
  @apply !text-[#28A745];
}

.text-danger {
  @apply !text-[#DC3545];
}

.text-secondary {
  @apply !text-[#FEC5F6];
}

.bg-light {
  @apply !bg-[#F5F1DC];
}

.hover-bg-secondary {
  @apply hover:bg-[#FEC5F6];
}

/*C68FE6*/
